/*==========================================================================================
Site Name: Thomas Skarbek-Wazynski
Author: Tom Skarbek-Wazynski

Stylesheet: Main

==========================================================================================*/
/* ==========================================================================
	Variables
	========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #252525; }

body {
  color: #252525;
  background: #FDCB5C; }

::selection {
  color: #FFFFFF;
  background: #626262; }

a {
  color: #252525; }

a:hover {
  color: #252525;
  border-bottom: 1px solid #252525; }

/* ==========================================================================
	Typography
	========================================================================== */
.line {
  background: #252525; }

/* ==========================================================================
   Mobile Menu
   ========================================================================== */
/* ==========================================================================
   Header
   ========================================================================== */
/* ==========================================================================
   Main
   ========================================================================== */
.main {
  /* ==========================================================================
		   Projects
		   ========================================================================== */ }
  .main .about {
    border-top: 1px solid #252525; }

/* ==========================================================================
   Project
   ========================================================================== */
.project-page .project {
  margin-bottom: 2em; }
  .project-page .project aside {
    border-top: 1px solid #252525; }
  .project-page .project section {
    border-top: 1px solid #252525; }

/* ==========================================================================
   Sidebar
   ========================================================================== */
.list {
  border-top: 1px solid #252525; }

.copyright {
  border-top: 1px solid #252525; }

/* ==========================================================================
   Mobile Footer
   ========================================================================== */
.mobile-footer {
  border-top: 1px solid #252525; }
