article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #428bca;
  text-decoration: none; }

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline; }

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

img {
  vertical-align: middle; }

/*==========================================================================================
Site Name: Thomas Skarbek-Wazynski
Author: Tom Skarbek-Wazynski

Stylesheet: Main

==========================================================================================*/
/* ==========================================================================
	Variables
	========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #000000; }

body {
  font-family: "proxima-nova-alt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  color: #000000;
  background: #FFFFFF; }

::selection {
  background: #FD7D1F;
  text-shadow: none; }

img {
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #000000; }

a:hover {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #b3b3b3; }

* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: .2em 0;
  padding: .2em 0;
  color: #000000;
  background: #CCCCCC; }

/* ==========================================================================
	Typography
	========================================================================== */
h2 {
  font-size: .75em;
  margin: 1.5em 0 .25em;
  text-transform: uppercase; }

p {
  font-size: .75em;
  margin-bottom: 1.333em; }

.amp {
  font-family: "fanwood", "garamond-premier-pro-display", Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic; }

.line {
  display: block;
  width: 20%;
  height: 4px;
  background: #b3b3b3; }

/* ==========================================================================
   Mobile Menu
   ========================================================================== */
.nav-collapse .menu-btn {
  display: block;
  float: right;
  overflow: hidden;
  padding: 1em; }
  .nav-collapse .menu-btn span {
    display: block;
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background: #000000; }
.nav-collapse ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none; }
  .nav-collapse ul li {
    padding: .5em 1em;
    border-bottom: 1px solid #FFFFFF;
    background: #000000; }
  .nav-collapse ul a {
    color: #FFFFFF; }

/* ==========================================================================
   Header
   ========================================================================== */
.header .intro {
  margin: 1em; }
  .header .intro h1 {
    font-family: "din-condensed-web", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: normal;
    line-height: 1;
    clear: both;
    margin: 0;
    text-transform: uppercase; }
  .header .intro span {
    display: block; }
  .header .intro .amp {
    display: inline; }
  .header .intro .byline {
    font-size: .75em;
    text-transform: uppercase; }

/* ==========================================================================
   Main
   ========================================================================== */
.main {
  margin: 1em; }
  .main .about {
    border-top: 1px solid #b3b3b3; }
    .main .about .intro {
      font-size: 1.5em;
      font-weight: 300;
      margin-top: .66666em;
      margin-bottom: .66666em; }
    .main .about .amp {
      font-size: .875em; }
    .main .about a {
      border-bottom: 1px solid #b3b3b3; }
    .main .about a:hover {
      border: 0; }

/* ==========================================================================
		   Projects
	========================================================================== */
.projects {
  overflow: hidden;
  margin-top: 2em;
  padding: 0;
  list-style: none; }
  .projects .project {
    float: left;
    width: 48.5%;
    margin: 0 1.5% 3% 0; }
  .projects .project:nth-child(2n+2) {
    margin: 0 0 3% 1.5%; }
  .projects .thumb {
    position: relative;
    overflow: hidden; }
  .projects img {
    width: 100%;
    height: auto;
    transition: top .3s ease-in 0s; }
  .projects .top {
    position: absolute;
    top: 0; }
  .projects .faded {
    position: absolute;
    top: -100%; }
  .projects .title {
    font-size: .75em;
    font-weight: bold;
    display: block;
    margin: .666666667em 0; }
  .projects .thumb:hover .faded {
    top: 0; }
  .projects .thumb:hover .top {
    top: 100%; }

/* ==========================================================================
   Project
   ========================================================================== */
.project-page .project {
  margin-bottom: 2em; }
  .project-page .project h1 {
    font-size: 1.5em;
    font-weight: 300; }
  .project-page .project .year {
    display: none; }
  .project-page .project aside {
    margin-bottom: 1em;
    border-top: 1px solid #b3b3b3; }
  .project-page .project .link {
    font-size: .75em;
    font-weight: bold;
    text-transform: uppercase; }
  .project-page .project section {
    border-top: 1px solid #b3b3b3; }
  .project-page .project .line {
    margin-bottom: 1.25em; }
  .project-page .project img {
    width: 100%;
    background: none; }

/* ==========================================================================
   Sidebar
   ========================================================================== */
.list {
  margin: 1em;
  border-top: 1px solid #b3b3b3; }
  .list ul {
    font-size: .75em;
    padding: 0;
    padding-bottom: 1.33333em;
    list-style: none; }
    .list ul li {
      line-height: 2; }

.copyright {
  border-top: 1px solid #b3b3b3; }
  .copyright p {
    font-size: .75em;
    margin: 1em 0; }

/* ==========================================================================
   Mobile Footer
   ========================================================================== */
.mobile-footer {
  border-top: 1px solid #b3b3b3; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
	 * Clearfix: contain floats
	 *
	 * For modern browsers
	 * 1. The space content is one way to avoid an Opera bug when the
	 *    `contenteditable` attribute is included anywhere else in the document.
	 *    Otherwise it causes space to appear at the top and bottom of elements
	 *    that receive the `clearfix` class.
	 * 2. The use of `table` rather than `block` is only necessary if using
	 *    `:before` to contain the top-margins of child elements.
	 */
.clearfix:before,
.clearfix:after {
  display: table;
  /* 2 */
  content: ' ';
  /* 1 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.tablet {
  display: none; }

/* ==========================================================================
	Tablets Vertical
   ========================================================================== */
@media only screen and (min-width: 768px) {
  /* ==========================================================================
			Helpers
		   ========================================================================== */
  .mobile-hide {
    display: none; }

  .tablet {
    display: block; }

  .nav-collapse {
    display: none; }

  /* ==========================================================================
			Header and Sidebar
		  ========================================================================== */
  .header {
    padding-top: 100px; }

  .wrapper {
    position: fixed;
    width: 219px; }

  /* ==========================================================================
			Main
		  ========================================================================== */
  .main {
    width: 62%;
    max-width: 660px;
    margin-left: 219px;
    padding-top: 250px;
    padding-left: 2em;
    /* ==========================================================================
				About
			  ========================================================================== */ }
    .main .about .intro {
      font-size: 2em;
      margin: .5em 0; }

  /* ==========================================================================
			Project
		  ========================================================================== */
  .project-page .main {
    padding-top: 184px; }
  .project-page .project {
    margin-bottom: 8em; }
    .project-page .project .year {
      font-size: .5em;
      font-weight: bold;
      display: block;
      float: right;
      padding-top: 1em; }
    .project-page .project section {
      padding-bottom: 8em; } }
/* ==========================================================================
	Desktop
   ========================================================================== */
@media only screen and (min-width: 959px) {
  .container {
    margin-left: 5%; } }
@media only screen and (min-width: 1070px) {
  .container {
    margin-left: 5%; }

  .main {
    margin-left: 260px; } }
/* ==========================================================================
	Retina
   ========================================================================== */
/* ==========================================================================
   Print style
   ========================================================================== */
@media print {
  * {
    color: #000000 !important;
    /* Black prints faster: h5bp.com/s */
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
  * Don't show links for images, or javascript/internal links
  */
  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: ''; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: .5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
