/*==========================================================================================
Site Name: Thomas Skarbek-Wazynski
Author: Tom Skarbek-Wazynski

Stylesheet: Main

==========================================================================================*/

/* ==========================================================================
	Variables
	========================================================================== */
	
	$base: #42186c;
	$background: white;
	$border: $base;
	$selection: #ffc00f;
	
	

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

	html,
	button,
	input,
	select,
	textarea {
	    color: $base;
	}
	
	body {  
		background: $background;
		color: $base;
	}

	::-moz-selection {
	    background: $selection;
	}

	::selection {
	    background: $selection;
	}

	a {
		color: $base;
	}
	a:hover {
		color: $base;
		border-bottom: 1px solid $border;
	}
	
/* ==========================================================================
	Typography
	========================================================================== */
		
	.line {
		background: $border;
	}

/* ==========================================================================
   Mobile Menu
   ========================================================================== */
		
	
/* ==========================================================================
   Header
   ========================================================================== */
	
	
/* ==========================================================================
   Main
   ========================================================================== */
		
	.main {
				
		.about {
			
			border-top: 1px solid $border;
	
		}
		
		/* ==========================================================================
		   Projects
		   ========================================================================== */	
	}
	
/* ==========================================================================
   Project
   ========================================================================== */
	
	.project-page {
		
		.project {
			
			margin-bottom: 2em;
			
			aside {
				border-top: 1px solid $border;
			}	
			section {
				border-top: 1px solid $border;
			}
		}
	}	
	
/* ==========================================================================
   Sidebar
   ========================================================================== */
	
	.list {
			
		border-top: 1px solid $border;
		
	}
	
	.copyright {
		border-top: 1px solid $border;
	}
	
/* ==========================================================================
   Mobile Footer
   ========================================================================== */
	
	.mobile-footer {
		border-top: 1px solid $border;	
	}