/*==========================================================================================
Site Name: Thomas Skarbek-Wazynski
Author: Tom Skarbek-Wazynski

Stylesheet: Main

==========================================================================================*/

/* ==========================================================================
	Variables
	========================================================================== */
	
	$base: black;
	
	$primary-font: "proxima-nova" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
	$secondary-font: "din-condensed-web", "proxima-nova" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
	

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

	html,
	button,
	input,
	select,
	textarea {
	    color: $base;
	}
	
	body {
	    font-size: 16px;
	    line-height: 1.4;
		font-family: "proxima-nova", "helvetica", "arial",sans-serif;
		background: #ffffff;
		padding: 0;
		margin: 0;
	}

	::-moz-selection {
	    background: #FD7D1F;
	    text-shadow: none;
	}

	::selection {
	    background: #FD7D1F;
	    text-shadow: none;
	}

	img {
	    vertical-align: middle;
	}
	
	a {
		color: $base;
		text-decoration: none;
	}
	a:hover {
		color: #FD7D1F;
	}
	
	* {
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		-webkit-padding-start: 0;
	}


/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

	.chromeframe {
	    margin: 0.2em 0;
	    background: #ccc;
	    color: #000;
	    padding: 0.2em 0;
	}
		
/* ==========================================================================
	Typography
	========================================================================== */	
	h2 {
		font-size: 0.75em;
		text-transform: uppercase;
		margin: 1.333em 0;
	}
	p {
		font-size: 0.75em;
		margin-bottom: 1.333em;
	}

/* ==========================================================================
   Mobile Menu
   ========================================================================== */
		
	.nav-collapse {
		
		.menu-btn {
			padding: 1em;
			display: block;
			float: right;
			overflow: hidden;
			
			span {
					width: 30px;
					height: 5px;
					background: black;
					margin-bottom: 5px;
					display: block;
			}
		}
		
		ul {
			display: none;
			padding: 0;
			margin: 0;
			list-style: none;
			
			li {
				padding: .5em 1em;
				background: $base;
				border-bottom: 1px solid white;
				
			    a {
			   		color: white;
			   	} 
			}
			
		}
		
	}
	
/* ==========================================================================
   Header
   ========================================================================== */
	
	.header {	
		.intro {
			margin: 1em;
			padding-bottom: 1em;
			border-bottom: 1px dotted $base;
			
			h1 {
				font-size: 2em;
				text-transform: uppercase;
				line-height: 1;
				clear: both;
				margin: 0;
				font-family: "din-condensed-web", "proxima-nova", "helvetica", "arial",sans-serif;
				span {
					display: block;
				}
			}
			.byline {
				font-size: 0.75em;
				text-transform: uppercase;
			}
		}
	} 
	
/* ==========================================================================
   Main
   ========================================================================== */
		
	.main {
		
		margin: 1em;
		
		&.about {
			.intro {	
				font-size: 1.5em;
				margin-bottom: 0.66666em;	
			}	
		}
		
	}
	
/* ==========================================================================
   Sidebar
   ========================================================================== */
	
	.sidebar {
		
		.list {
			margin: 1em;
			ul {
				font-size: 0.75em;
				padding: 0;
				list-style: none;
				border-bottom: 1px dotted $base;
				padding-bottom: 1.33333em;
				
				li {
					line-height: 2;
					a {
						color: black;
					}
				}
			}
		}
		
		.copyright {
			font-size: 0.75em;
			font-weight: bold;
			opacity: .5;
			margin: 1em 0;
		}
	}
	

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
	 * Clearfix: contain floats
	 *
	 * For modern browsers
	 * 1. The space content is one way to avoid an Opera bug when the
	 *    `contenteditable` attribute is included anywhere else in the document.
	 *    Otherwise it causes space to appear at the top and bottom of elements
	 *    that receive the `clearfix` class.
	 * 2. The use of `table` rather than `block` is only necessary if using
	 *    `:before` to contain the top-margins of child elements.
	 */

	.clearfix:before,
	.clearfix:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	.clearfix:after {
	    clear: both;
	}

	.clearfix {
	    *zoom: 1;
	}

/* ==========================================================================
	Tablets Vertical
   ========================================================================== */

	@media only screen and (min-width: 768px) {		
		
		.nav-collapse {
			display: none;
		}
		
		.sidebar {
			padding-top: 100px;
			width: 27%;
			max-width: 220px;
			float: left;
		}

		.main {
			
			width: 63%;
			max-width: 800px;
			float: left;
		
			&.about {
				.intro {	
					margin-top: 200px;
					font-size: 2em;
					margin-bottom: 0.5em;	
				}	
			}
		
		}
		
		
	}

/* ==========================================================================
	Retina
   ========================================================================== */

	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	       only screen and (min--moz-device-pixel-ratio: 1.5),
	       only screen and (min-device-pixel-ratio: 1.5),
	       only screen and (min-resolution: 144dpi) {

	}

/* ==========================================================================
   Print style
   ========================================================================== */

	@media print {
	    * {
	        background: transparent !important;
	        color: #000 !important; /* Black prints faster: h5bp.com/s */
	        box-shadow:none !important;
	        text-shadow: none !important;
	    }

	    a,
	    a:visited {
	        text-decoration: underline;
	    }

	    a[href]:after {
	        content: " (" attr(href) ")";
	    }

	    abbr[title]:after {
	        content: " (" attr(title) ")";
	    }

	    /*
	     * Don't show links for images, or javascript/internal links
	     */

	    .ir a:after,
	    a[href^="javascript:"]:after,
	    a[href^="#"]:after {
	        content: "";
	    }

	    pre,
	    blockquote {
	        border: 1px solid #999;
	        page-break-inside: avoid;
	    }

	    thead {
	        display: table-header-group; /* h5bp.com/t */
	    }

	    tr,
	    img {
	        page-break-inside: avoid;
	    }

	    img {
	        max-width: 100% !important;
	    }

	    @page {
	        margin: 0.5cm;
	    }

	    p,
	    h2,
	    h3 {
	        orphans: 3;
	        widows: 3;
	    }

	    h2,
	    h3 {
	        page-break-after: avoid;
	    }
	}
