/*==========================================================================================
Site Name: Thomas Skarbek-Wazynski
Author: Tom Skarbek-Wazynski

Stylesheet: Main

==========================================================================================*/
/* ==========================================================================
	Variables
	========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 28, ../scss/baraft.scss */
html,
button,
input,
select,
textarea {
  color: #ef4036;
}

/* line 32, ../scss/baraft.scss */
body {
  background: white;
  color: #ef4036;
}

/* line 37, ../scss/baraft.scss */
::-moz-selection {
  background: #007a96;
}

/* line 41, ../scss/baraft.scss */
::selection {
  background: #007a96;
}

/* line 45, ../scss/baraft.scss */
a {
  color: #ef4036;
}

/* line 48, ../scss/baraft.scss */
a:hover {
  color: #ef4036;
  border-bottom: 1px solid #ef4036;
}

/* ==========================================================================
	Typography
	========================================================================== */
/* line 57, ../scss/baraft.scss */
.line {
  background: #ef4036;
}

/* ==========================================================================
   Mobile Menu
   ========================================================================== */
/* ==========================================================================
   Header
   ========================================================================== */
/* ==========================================================================
   Main
   ========================================================================== */
/* line 75, ../scss/baraft.scss */
.main {
  /* ==========================================================================
     Projects
     ========================================================================== */
}
/* line 77, ../scss/baraft.scss */
.main .about {
  border-top: 1px solid #ef4036;
}

/* ==========================================================================
   Project
   ========================================================================== */
/* line 94, ../scss/baraft.scss */
.project-page .project {
  margin-bottom: 2em;
}
/* line 98, ../scss/baraft.scss */
.project-page .project aside {
  border-top: 1px solid #ef4036;
}
/* line 101, ../scss/baraft.scss */
.project-page .project section {
  border-top: 1px solid #ef4036;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */
/* line 111, ../scss/baraft.scss */
.list {
  border-top: 1px solid #ef4036;
}

/* line 117, ../scss/baraft.scss */
.copyright {
  border-top: 1px solid #ef4036;
}

/* ==========================================================================
   Mobile Footer
   ========================================================================== */
/* line 125, ../scss/baraft.scss */
.mobile-footer {
  border-top: 1px solid #ef4036;
}
