/*==========================================================================================
Site Name: Thomas Skarbek-Wazynski
Author: Tom Skarbek-Wazynski

Stylesheet: Main

==========================================================================================*/
/* ==========================================================================
	Variables
	========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 28, ../scss/lusu.scss */
html,
button,
input,
select,
textarea {
  color: #42186c;
}

/* line 32, ../scss/lusu.scss */
body {
  background: white;
  color: #42186c;
}

/* line 37, ../scss/lusu.scss */
::-moz-selection {
  background: #fd7d1f;
  color: white;
}

/* line 42, ../scss/lusu.scss */
::selection {
  background: #fd7d1f;
  color: white;
}

/* line 47, ../scss/lusu.scss */
a {
  color: #42186c;
}

/* line 50, ../scss/lusu.scss */
a:hover {
  color: #42186c;
  border-bottom: 1px solid #42186c;
}

/* ==========================================================================
	Typography
	========================================================================== */
/* line 59, ../scss/lusu.scss */
.line {
  background: #42186c;
}

/* ==========================================================================
   Mobile Menu
   ========================================================================== */
/* ==========================================================================
   Header
   ========================================================================== */
/* ==========================================================================
   Main
   ========================================================================== */
/* line 77, ../scss/lusu.scss */
.main {
  /* ==========================================================================
     Projects
     ========================================================================== */
}
/* line 79, ../scss/lusu.scss */
.main .about {
  border-top: 1px solid #42186c;
}

/* ==========================================================================
   Project
   ========================================================================== */
/* line 96, ../scss/lusu.scss */
.project-page .project {
  margin-bottom: 2em;
}
/* line 100, ../scss/lusu.scss */
.project-page .project aside {
  border-top: 1px solid #42186c;
}
/* line 103, ../scss/lusu.scss */
.project-page .project section {
  border-top: 1px solid #42186c;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */
/* line 113, ../scss/lusu.scss */
.list {
  border-top: 1px solid #42186c;
}

/* line 119, ../scss/lusu.scss */
.copyright {
  border-top: 1px solid #42186c;
}

/* ==========================================================================
   Mobile Footer
   ========================================================================== */
/* line 127, ../scss/lusu.scss */
.mobile-footer {
  border-top: 1px solid #42186c;
}
