/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 17, ../scss/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 21, ../scss/main.scss */
body {
  font-size: 18px;
  line-height: 1.4;
  font-family: "proxima-nova", "helvetica", "arial",sans-serif;
  background: #efebe3;
}

/*
	 * Remove text-shadow in selection highlight: h5bp.com/i
	 * These selection declarations have to be separate.
	 * Customize the background color to match your design.
	 */
/* line 34, ../scss/main.scss */
::-moz-selection {
  background: #FD7D1F;
  text-shadow: none;
}

/* line 39, ../scss/main.scss */
::selection {
  background: #FD7D1F;
  text-shadow: none;
}

/*
	 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
	 */
/* line 48, ../scss/main.scss */
img {
  vertical-align: middle;
}

/* line 51, ../scss/main.scss */
a {
  color: #222;
  text-decoration: none;
}

/* line 55, ../scss/main.scss */
a:hover {
  color: #FD7D1F;
}

/* line 58, ../scss/main.scss */
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 71, ../scss/main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 82, ../scss/main.scss */
.main {
  padding: 2em 2em;
}

/* line 86, ../scss/main.scss */
h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  font-weight: 600;
}

/* line 94, ../scss/main.scss */
h2 {
  font-size: 13px;
  font-family: "pt-sans", Georgia, serif;
  margin: 0 0 4em 0;
  font-weight: 400;
  letter-spacing: 1px;
}

/* line 101, ../scss/main.scss */
.amp {
  font-family: "pt-sans", "freight-text-pro", Georgia, serif;
  font-weight: 400;
}

/* line 105, ../scss/main.scss */
p {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
  margin: 0.5em 0;
}

/* line 112, ../scss/main.scss */
ul {
  list-style: none;
  padding: 0 1em;
  margin: 0 0 1.4em 0;
}

/* line 117, ../scss/main.scss */
li {
  font-size: 13px;
  font-family: "pt-sans", Georgia, serif;
  letter-spacing: 1px;
  font-weight: 400;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
