/*==========================================================================================
Site Name: Thomas Skarbek-Wazynski
Author: Tom Skarbek-Wazynski

Stylesheet: Main

==========================================================================================*/
/* ==========================================================================
	Variables
	========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 28, ../scss/my-reptile-diet.scss */
html,
button,
input,
select,
textarea {
  color: #82ba37;
}

/* line 32, ../scss/my-reptile-diet.scss */
body {
  background: white;
  background: url("/img/projects/my-reptile-diet/background.jpg") repeat fixed;
  color: #82ba37;
}

/* line 38, ../scss/my-reptile-diet.scss */
::-moz-selection {
  background: #007a96;
}

/* line 42, ../scss/my-reptile-diet.scss */
::selection {
  background: #007a96;
}

/* line 46, ../scss/my-reptile-diet.scss */
a {
  color: #82ba37;
}

/* line 49, ../scss/my-reptile-diet.scss */
a:hover {
  color: #82ba37;
  border-bottom: 1px solid #82ba37;
}

/* ==========================================================================
	Typography
	========================================================================== */
/* line 58, ../scss/my-reptile-diet.scss */
.line {
  background: #82ba37;
}

/* ==========================================================================
   Mobile Menu
   ========================================================================== */
/* ==========================================================================
   Header
   ========================================================================== */
/* ==========================================================================
   Main
   ========================================================================== */
/* line 76, ../scss/my-reptile-diet.scss */
.main {
  /* ==========================================================================
     Projects
     ========================================================================== */
}
/* line 78, ../scss/my-reptile-diet.scss */
.main .about {
  border-top: 1px solid #82ba37;
}

/* ==========================================================================
   Project
   ========================================================================== */
/* line 95, ../scss/my-reptile-diet.scss */
.project-page .project {
  margin-bottom: 2em;
}
/* line 99, ../scss/my-reptile-diet.scss */
.project-page .project aside {
  border-top: 1px solid #82ba37;
}
/* line 102, ../scss/my-reptile-diet.scss */
.project-page .project section {
  border-top: 1px solid #82ba37;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */
/* line 112, ../scss/my-reptile-diet.scss */
.list {
  border-top: 1px solid #82ba37;
}

/* line 118, ../scss/my-reptile-diet.scss */
.copyright {
  border-top: 1px solid #82ba37;
}

/* ==========================================================================
   Mobile Footer
   ========================================================================== */
/* line 126, ../scss/my-reptile-diet.scss */
.mobile-footer {
  border-top: 1px solid #82ba37;
}
