/* line 12, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 17, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 20, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 25, ../scss/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 28, ../scss/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 33, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* line 36, ../scss/_normalize.scss */
a {
  background: transparent;
}

/* line 39, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 43, ../scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 46, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 50, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 54, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 57, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 60, ../scss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 65, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 72, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 76, ../scss/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/* line 79, ../scss/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 82, ../scss/_normalize.scss */
small {
  font-size: 80%;
}

/* line 86, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 92, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 95, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 98, ../scss/_normalize.scss */
img {
  border: 0;
}

/* line 101, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 104, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* line 107, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 112, ../scss/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 119, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 125, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 129, ../scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 135, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 140, ../scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 144, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 148, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 155, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 159, ../scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 163, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 167, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 173, ../scss/_normalize.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 178, ../scss/_normalize.scss */
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 182, ../scss/_normalize.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}

/* line 192, ../scss/_normalize.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 197, ../scss/_normalize.scss */
a {
  color: #428bca;
  text-decoration: none;
}

/* line 202, ../scss/_normalize.scss */
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

/* line 206, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 211, ../scss/_normalize.scss */
img {
  vertical-align: middle;
}

/*!
 * Bootstrap v3.0.2
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
/* line 11, ../scss/_bootstrap.scss */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 16, ../scss/_bootstrap.scss */
.img-rounded {
  border-radius: 6px;
}

/* line 19, ../scss/_bootstrap.scss */
.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* line 31, ../scss/_bootstrap.scss */
.img-circle {
  border-radius: 50%;
}

/* line 34, ../scss/_bootstrap.scss */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

/* line 40, ../scss/_bootstrap.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* line 50, ../scss/_bootstrap.scss */
.full-width-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 56, ../scss/_bootstrap.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 63, ../scss/_bootstrap.scss */
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 71, ../scss/_bootstrap.scss */
.container:after {
  clear: both;
}

/* line 74, ../scss/_bootstrap.scss */
.row {
  margin-left: -8px;
  margin-right: -8px;
}

/* line 79, ../scss/_bootstrap.scss */
.row:before,
.row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 87, ../scss/_bootstrap.scss */
.row:after {
  clear: both;
}

/* line 90, ../scss/_bootstrap.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
}

/* line 96, ../scss/_bootstrap.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11 {
  float: left;
}

/* line 99, ../scss/_bootstrap.scss */
.col-xs-12 {
  width: 100%;
}

/* line 102, ../scss/_bootstrap.scss */
.col-xs-11 {
  width: 91.66666666666666%;
}

/* line 105, ../scss/_bootstrap.scss */
.col-xs-10 {
  width: 83.33333333333334%;
}

/* line 108, ../scss/_bootstrap.scss */
.col-xs-9 {
  width: 75%;
}

/* line 111, ../scss/_bootstrap.scss */
.col-xs-8 {
  width: 66.66666666666666%;
}

/* line 114, ../scss/_bootstrap.scss */
.col-xs-7 {
  width: 58.333333333333336%;
}

/* line 117, ../scss/_bootstrap.scss */
.col-xs-6 {
  width: 50%;
}

/* line 120, ../scss/_bootstrap.scss */
.col-xs-5 {
  width: 41.66666666666667%;
}

/* line 123, ../scss/_bootstrap.scss */
.col-xs-4 {
  width: 33.33333333333333%;
}

/* line 126, ../scss/_bootstrap.scss */
.col-xs-3 {
  width: 25%;
}

/* line 129, ../scss/_bootstrap.scss */
.col-xs-2 {
  width: 16.666666666666664%;
}

/* line 132, ../scss/_bootstrap.scss */
.col-xs-1 {
  width: 8.333333333333332%;
}

/* line 135, ../scss/_bootstrap.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 138, ../scss/_bootstrap.scss */
.col-xs-pull-11 {
  right: 91.66666666666666%;
}

/* line 141, ../scss/_bootstrap.scss */
.col-xs-pull-10 {
  right: 83.33333333333334%;
}

/* line 144, ../scss/_bootstrap.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 147, ../scss/_bootstrap.scss */
.col-xs-pull-8 {
  right: 66.66666666666666%;
}

/* line 150, ../scss/_bootstrap.scss */
.col-xs-pull-7 {
  right: 58.333333333333336%;
}

/* line 153, ../scss/_bootstrap.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 156, ../scss/_bootstrap.scss */
.col-xs-pull-5 {
  right: 41.66666666666667%;
}

/* line 159, ../scss/_bootstrap.scss */
.col-xs-pull-4 {
  right: 33.33333333333333%;
}

/* line 162, ../scss/_bootstrap.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 165, ../scss/_bootstrap.scss */
.col-xs-pull-2 {
  right: 16.666666666666664%;
}

/* line 168, ../scss/_bootstrap.scss */
.col-xs-pull-1 {
  right: 8.333333333333332%;
}

/* line 171, ../scss/_bootstrap.scss */
.col-xs-pull-0 {
  right: 0%;
}

/* line 174, ../scss/_bootstrap.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 177, ../scss/_bootstrap.scss */
.col-xs-push-11 {
  left: 91.66666666666666%;
}

/* line 180, ../scss/_bootstrap.scss */
.col-xs-push-10 {
  left: 83.33333333333334%;
}

/* line 183, ../scss/_bootstrap.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 186, ../scss/_bootstrap.scss */
.col-xs-push-8 {
  left: 66.66666666666666%;
}

/* line 189, ../scss/_bootstrap.scss */
.col-xs-push-7 {
  left: 58.333333333333336%;
}

/* line 192, ../scss/_bootstrap.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 195, ../scss/_bootstrap.scss */
.col-xs-push-5 {
  left: 41.66666666666667%;
}

/* line 198, ../scss/_bootstrap.scss */
.col-xs-push-4 {
  left: 33.33333333333333%;
}

/* line 201, ../scss/_bootstrap.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 204, ../scss/_bootstrap.scss */
.col-xs-push-2 {
  left: 16.666666666666664%;
}

/* line 207, ../scss/_bootstrap.scss */
.col-xs-push-1 {
  left: 8.333333333333332%;
}

/* line 210, ../scss/_bootstrap.scss */
.col-xs-push-0 {
  left: 0%;
}

/* line 213, ../scss/_bootstrap.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

/* line 216, ../scss/_bootstrap.scss */
.col-xs-offset-11 {
  margin-left: 91.66666666666666%;
}

/* line 219, ../scss/_bootstrap.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333333334%;
}

/* line 222, ../scss/_bootstrap.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 225, ../scss/_bootstrap.scss */
.col-xs-offset-8 {
  margin-left: 66.66666666666666%;
}

/* line 228, ../scss/_bootstrap.scss */
.col-xs-offset-7 {
  margin-left: 58.333333333333336%;
}

/* line 231, ../scss/_bootstrap.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 234, ../scss/_bootstrap.scss */
.col-xs-offset-5 {
  margin-left: 41.66666666666667%;
}

/* line 237, ../scss/_bootstrap.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333333333%;
}

/* line 240, ../scss/_bootstrap.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 243, ../scss/_bootstrap.scss */
.col-xs-offset-2 {
  margin-left: 16.666666666666664%;
}

/* line 246, ../scss/_bootstrap.scss */
.col-xs-offset-1 {
  margin-left: 8.333333333333332%;
}

/* line 249, ../scss/_bootstrap.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  /* line 253, ../scss/_bootstrap.scss */
  .container {
    width: 750px;
  }

  /* line 256, ../scss/_bootstrap.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {
    float: left;
  }

  /* line 259, ../scss/_bootstrap.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 262, ../scss/_bootstrap.scss */
  .col-sm-11 {
    width: 91.66666666666666%;
  }

  /* line 265, ../scss/_bootstrap.scss */
  .col-sm-10 {
    width: 83.33333333333334%;
  }

  /* line 268, ../scss/_bootstrap.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 271, ../scss/_bootstrap.scss */
  .col-sm-8 {
    width: 66.66666666666666%;
  }

  /* line 274, ../scss/_bootstrap.scss */
  .col-sm-7 {
    width: 58.333333333333336%;
  }

  /* line 277, ../scss/_bootstrap.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 280, ../scss/_bootstrap.scss */
  .col-sm-5 {
    width: 41.66666666666667%;
  }

  /* line 283, ../scss/_bootstrap.scss */
  .col-sm-4 {
    width: 33.33333333333333%;
  }

  /* line 286, ../scss/_bootstrap.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 289, ../scss/_bootstrap.scss */
  .col-sm-2 {
    width: 16.666666666666664%;
  }

  /* line 292, ../scss/_bootstrap.scss */
  .col-sm-1 {
    width: 8.333333333333332%;
  }

  /* line 295, ../scss/_bootstrap.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 298, ../scss/_bootstrap.scss */
  .col-sm-pull-11 {
    right: 91.66666666666666%;
  }

  /* line 301, ../scss/_bootstrap.scss */
  .col-sm-pull-10 {
    right: 83.33333333333334%;
  }

  /* line 304, ../scss/_bootstrap.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 307, ../scss/_bootstrap.scss */
  .col-sm-pull-8 {
    right: 66.66666666666666%;
  }

  /* line 310, ../scss/_bootstrap.scss */
  .col-sm-pull-7 {
    right: 58.333333333333336%;
  }

  /* line 313, ../scss/_bootstrap.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 316, ../scss/_bootstrap.scss */
  .col-sm-pull-5 {
    right: 41.66666666666667%;
  }

  /* line 319, ../scss/_bootstrap.scss */
  .col-sm-pull-4 {
    right: 33.33333333333333%;
  }

  /* line 322, ../scss/_bootstrap.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 325, ../scss/_bootstrap.scss */
  .col-sm-pull-2 {
    right: 16.666666666666664%;
  }

  /* line 328, ../scss/_bootstrap.scss */
  .col-sm-pull-1 {
    right: 8.333333333333332%;
  }

  /* line 331, ../scss/_bootstrap.scss */
  .col-sm-pull-0 {
    right: 0%;
  }

  /* line 334, ../scss/_bootstrap.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 337, ../scss/_bootstrap.scss */
  .col-sm-push-11 {
    left: 91.66666666666666%;
  }

  /* line 340, ../scss/_bootstrap.scss */
  .col-sm-push-10 {
    left: 83.33333333333334%;
  }

  /* line 343, ../scss/_bootstrap.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 346, ../scss/_bootstrap.scss */
  .col-sm-push-8 {
    left: 66.66666666666666%;
  }

  /* line 349, ../scss/_bootstrap.scss */
  .col-sm-push-7 {
    left: 58.333333333333336%;
  }

  /* line 352, ../scss/_bootstrap.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 355, ../scss/_bootstrap.scss */
  .col-sm-push-5 {
    left: 41.66666666666667%;
  }

  /* line 358, ../scss/_bootstrap.scss */
  .col-sm-push-4 {
    left: 33.33333333333333%;
  }

  /* line 361, ../scss/_bootstrap.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 364, ../scss/_bootstrap.scss */
  .col-sm-push-2 {
    left: 16.666666666666664%;
  }

  /* line 367, ../scss/_bootstrap.scss */
  .col-sm-push-1 {
    left: 8.333333333333332%;
  }

  /* line 370, ../scss/_bootstrap.scss */
  .col-sm-push-0 {
    left: 0%;
  }

  /* line 373, ../scss/_bootstrap.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }

  /* line 376, ../scss/_bootstrap.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666666666666%;
  }

  /* line 379, ../scss/_bootstrap.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333333334%;
  }

  /* line 382, ../scss/_bootstrap.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 385, ../scss/_bootstrap.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666666666666%;
  }

  /* line 388, ../scss/_bootstrap.scss */
  .col-sm-offset-7 {
    margin-left: 58.333333333333336%;
  }

  /* line 391, ../scss/_bootstrap.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 394, ../scss/_bootstrap.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666666666667%;
  }

  /* line 397, ../scss/_bootstrap.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333333333%;
  }

  /* line 400, ../scss/_bootstrap.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 403, ../scss/_bootstrap.scss */
  .col-sm-offset-2 {
    margin-left: 16.666666666666664%;
  }

  /* line 406, ../scss/_bootstrap.scss */
  .col-sm-offset-1 {
    margin-left: 8.333333333333332%;
  }

  /* line 409, ../scss/_bootstrap.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  /* line 414, ../scss/_bootstrap.scss */
  .container {
    width: 970px;
  }

  /* line 417, ../scss/_bootstrap.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
    float: left;
  }

  /* line 420, ../scss/_bootstrap.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 423, ../scss/_bootstrap.scss */
  .col-md-11 {
    width: 91.66666666666666%;
  }

  /* line 426, ../scss/_bootstrap.scss */
  .col-md-10 {
    width: 83.33333333333334%;
  }

  /* line 429, ../scss/_bootstrap.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 432, ../scss/_bootstrap.scss */
  .col-md-8 {
    width: 66.66666666666666%;
  }

  /* line 435, ../scss/_bootstrap.scss */
  .col-md-7 {
    width: 58.333333333333336%;
  }

  /* line 438, ../scss/_bootstrap.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 441, ../scss/_bootstrap.scss */
  .col-md-5 {
    width: 41.66666666666667%;
  }

  /* line 444, ../scss/_bootstrap.scss */
  .col-md-4 {
    width: 33.33333333333333%;
  }

  /* line 447, ../scss/_bootstrap.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 450, ../scss/_bootstrap.scss */
  .col-md-2 {
    width: 16.666666666666664%;
  }

  /* line 453, ../scss/_bootstrap.scss */
  .col-md-1 {
    width: 8.333333333333332%;
  }

  /* line 456, ../scss/_bootstrap.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 459, ../scss/_bootstrap.scss */
  .col-md-pull-11 {
    right: 91.66666666666666%;
  }

  /* line 462, ../scss/_bootstrap.scss */
  .col-md-pull-10 {
    right: 83.33333333333334%;
  }

  /* line 465, ../scss/_bootstrap.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 468, ../scss/_bootstrap.scss */
  .col-md-pull-8 {
    right: 66.66666666666666%;
  }

  /* line 471, ../scss/_bootstrap.scss */
  .col-md-pull-7 {
    right: 58.333333333333336%;
  }

  /* line 474, ../scss/_bootstrap.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 477, ../scss/_bootstrap.scss */
  .col-md-pull-5 {
    right: 41.66666666666667%;
  }

  /* line 480, ../scss/_bootstrap.scss */
  .col-md-pull-4 {
    right: 33.33333333333333%;
  }

  /* line 483, ../scss/_bootstrap.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 486, ../scss/_bootstrap.scss */
  .col-md-pull-2 {
    right: 16.666666666666664%;
  }

  /* line 489, ../scss/_bootstrap.scss */
  .col-md-pull-1 {
    right: 8.333333333333332%;
  }

  /* line 492, ../scss/_bootstrap.scss */
  .col-md-pull-0 {
    right: 0%;
  }

  /* line 495, ../scss/_bootstrap.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 498, ../scss/_bootstrap.scss */
  .col-md-push-11 {
    left: 91.66666666666666%;
  }

  /* line 501, ../scss/_bootstrap.scss */
  .col-md-push-10 {
    left: 83.33333333333334%;
  }

  /* line 504, ../scss/_bootstrap.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 507, ../scss/_bootstrap.scss */
  .col-md-push-8 {
    left: 66.66666666666666%;
  }

  /* line 510, ../scss/_bootstrap.scss */
  .col-md-push-7 {
    left: 58.333333333333336%;
  }

  /* line 513, ../scss/_bootstrap.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 516, ../scss/_bootstrap.scss */
  .col-md-push-5 {
    left: 41.66666666666667%;
  }

  /* line 519, ../scss/_bootstrap.scss */
  .col-md-push-4 {
    left: 33.33333333333333%;
  }

  /* line 522, ../scss/_bootstrap.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 525, ../scss/_bootstrap.scss */
  .col-md-push-2 {
    left: 16.666666666666664%;
  }

  /* line 528, ../scss/_bootstrap.scss */
  .col-md-push-1 {
    left: 8.333333333333332%;
  }

  /* line 531, ../scss/_bootstrap.scss */
  .col-md-push-0 {
    left: 0%;
  }

  /* line 534, ../scss/_bootstrap.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }

  /* line 537, ../scss/_bootstrap.scss */
  .col-md-offset-11 {
    margin-left: 91.66666666666666%;
  }

  /* line 540, ../scss/_bootstrap.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333333334%;
  }

  /* line 543, ../scss/_bootstrap.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 546, ../scss/_bootstrap.scss */
  .col-md-offset-8 {
    margin-left: 66.66666666666666%;
  }

  /* line 549, ../scss/_bootstrap.scss */
  .col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }

  /* line 552, ../scss/_bootstrap.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 555, ../scss/_bootstrap.scss */
  .col-md-offset-5 {
    margin-left: 41.66666666666667%;
  }

  /* line 558, ../scss/_bootstrap.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333333333%;
  }

  /* line 561, ../scss/_bootstrap.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 564, ../scss/_bootstrap.scss */
  .col-md-offset-2 {
    margin-left: 16.666666666666664%;
  }

  /* line 567, ../scss/_bootstrap.scss */
  .col-md-offset-1 {
    margin-left: 8.333333333333332%;
  }

  /* line 570, ../scss/_bootstrap.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  /* line 575, ../scss/_bootstrap.scss */
  .container {
    width: 1170px;
  }

  /* line 578, ../scss/_bootstrap.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {
    float: left;
  }

  /* line 581, ../scss/_bootstrap.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 584, ../scss/_bootstrap.scss */
  .col-lg-11 {
    width: 91.66666666666666%;
  }

  /* line 587, ../scss/_bootstrap.scss */
  .col-lg-10 {
    width: 83.33333333333334%;
  }

  /* line 590, ../scss/_bootstrap.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 593, ../scss/_bootstrap.scss */
  .col-lg-8 {
    width: 66.66666666666666%;
  }

  /* line 596, ../scss/_bootstrap.scss */
  .col-lg-7 {
    width: 58.333333333333336%;
  }

  /* line 599, ../scss/_bootstrap.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 602, ../scss/_bootstrap.scss */
  .col-lg-5 {
    width: 41.66666666666667%;
  }

  /* line 605, ../scss/_bootstrap.scss */
  .col-lg-4 {
    width: 33.33333333333333%;
  }

  /* line 608, ../scss/_bootstrap.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 611, ../scss/_bootstrap.scss */
  .col-lg-2 {
    width: 16.666666666666664%;
  }

  /* line 614, ../scss/_bootstrap.scss */
  .col-lg-1 {
    width: 8.333333333333332%;
  }

  /* line 617, ../scss/_bootstrap.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 620, ../scss/_bootstrap.scss */
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }

  /* line 623, ../scss/_bootstrap.scss */
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }

  /* line 626, ../scss/_bootstrap.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 629, ../scss/_bootstrap.scss */
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }

  /* line 632, ../scss/_bootstrap.scss */
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }

  /* line 635, ../scss/_bootstrap.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 638, ../scss/_bootstrap.scss */
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }

  /* line 641, ../scss/_bootstrap.scss */
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }

  /* line 644, ../scss/_bootstrap.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 647, ../scss/_bootstrap.scss */
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }

  /* line 650, ../scss/_bootstrap.scss */
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }

  /* line 653, ../scss/_bootstrap.scss */
  .col-lg-pull-0 {
    right: 0%;
  }

  /* line 656, ../scss/_bootstrap.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 659, ../scss/_bootstrap.scss */
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }

  /* line 662, ../scss/_bootstrap.scss */
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }

  /* line 665, ../scss/_bootstrap.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 668, ../scss/_bootstrap.scss */
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }

  /* line 671, ../scss/_bootstrap.scss */
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }

  /* line 674, ../scss/_bootstrap.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 677, ../scss/_bootstrap.scss */
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }

  /* line 680, ../scss/_bootstrap.scss */
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }

  /* line 683, ../scss/_bootstrap.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 686, ../scss/_bootstrap.scss */
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }

  /* line 689, ../scss/_bootstrap.scss */
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }

  /* line 692, ../scss/_bootstrap.scss */
  .col-lg-push-0 {
    left: 0%;
  }

  /* line 695, ../scss/_bootstrap.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }

  /* line 698, ../scss/_bootstrap.scss */
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }

  /* line 701, ../scss/_bootstrap.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }

  /* line 704, ../scss/_bootstrap.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 707, ../scss/_bootstrap.scss */
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }

  /* line 710, ../scss/_bootstrap.scss */
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }

  /* line 713, ../scss/_bootstrap.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 716, ../scss/_bootstrap.scss */
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }

  /* line 719, ../scss/_bootstrap.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }

  /* line 722, ../scss/_bootstrap.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 725, ../scss/_bootstrap.scss */
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }

  /* line 728, ../scss/_bootstrap.scss */
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }

  /* line 731, ../scss/_bootstrap.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 22, ../scss/_main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 26, ../scss/_main.scss */
body {
  font-size: 18px;
  line-height: 1.4;
  font-family: "proxima-nova", "helvetica", "arial",sans-serif;
  background: #efebe3;
  padding-top: 16px;
}

/*
	 * Remove text-shadow in selection highlight: h5bp.com/i
	 * These selection declarations have to be separate.
	 * Customize the background color to match your design.
	 */
/* line 40, ../scss/_main.scss */
::-moz-selection {
  background: #FD7D1F;
  text-shadow: none;
}

/* line 45, ../scss/_main.scss */
::selection {
  background: #FD7D1F;
  text-shadow: none;
}

/*
	 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
	 */
/* line 54, ../scss/_main.scss */
img {
  vertical-align: middle;
}

/* line 57, ../scss/_main.scss */
a {
  color: #222;
  text-decoration: none;
}

/* line 61, ../scss/_main.scss */
a:hover {
  color: #FD7D1F;
}

/* line 64, ../scss/_main.scss */
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 77, ../scss/_main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 88, ../scss/_main.scss */
.main {
  padding: 2em 2em;
}

/* line 92, ../scss/_main.scss */
h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  font-weight: 600;
  text-align: center;
}

/* line 100, ../scss/_main.scss */
h2 {
  font-size: 13px;
  font-family: "pt-sans", Georgia, serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

/* line 108, ../scss/_main.scss */
.amp {
  font-family: "garamond-premier-pro-display", "freight-text-pro", Georgia, serif;
  font-weight: 400;
  font-style: italic;
}

/* line 113, ../scss/_main.scss */
p {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
  margin: 0.5em 0;
}

/* line 120, ../scss/_main.scss */
ul {
  list-style: none;
  padding: 0 1em;
  margin: 0 0 1.4em 0;
}

/* line 125, ../scss/_main.scss */
li {
  font-size: 13px;
  font-family: "pt-sans", Georgia, serif;
  letter-spacing: 1px;
  font-weight: 400;
}

/* line 133, ../scss/_main.scss */
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 140, ../scss/_main.scss */
.layer-1 {
  z-index: 5000;
}

/* line 143, ../scss/_main.scss */
.layer-2 {
  z-index: 4000;
}

/* line 148, ../scss/_main.scss */
.slide {
  width: 100%;
  height: 100%;
}

/* line 156, ../scss/_main.scss */
img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

/* line 163, ../scss/_main.scss */
.image {
  height: 350px;
  width: 100%;
  background: lightgreen;
  background-size: cover;
  margin-bottom: 16px;
  overflow: hidden;
}

/* line 172, ../scss/_main.scss */
.desc {
  font-size: 13px;
  font-family: "pt-sans", Georgia, serif;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 16px;
}
/* line 177, ../scss/_main.scss */
.desc strong {
  font-family: "proxima-nova", Georgia, serif;
  text-transform: uppercase;
  display: block;
  margin-bottom: 6px;
}
/* line 184, ../scss/_main.scss */
.desc .dash {
  display: none;
  font-family: helvetica;
}

/* line 190, ../scss/_main.scss */
.row:nth-child(1) {
  margin-top: 16px;
}

/* line 197, ../scss/_main.scss */
.row .offset-top {
  margin-top: 16px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
