/* line 12, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 17, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 20, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 25, ../scss/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 28, ../scss/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 33, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* line 36, ../scss/_normalize.scss */
a {
  background: transparent;
}

/* line 39, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 43, ../scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 46, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 50, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 54, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 57, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 60, ../scss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 65, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 72, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 76, ../scss/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/* line 79, ../scss/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 82, ../scss/_normalize.scss */
small {
  font-size: 80%;
}

/* line 86, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 92, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 95, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 98, ../scss/_normalize.scss */
img {
  border: 0;
}

/* line 101, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 104, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* line 107, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 112, ../scss/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 119, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 125, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 129, ../scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 135, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 140, ../scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 144, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 148, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 155, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 159, ../scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 163, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 167, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 173, ../scss/_normalize.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 178, ../scss/_normalize.scss */
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 182, ../scss/_normalize.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}

/* line 192, ../scss/_normalize.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 197, ../scss/_normalize.scss */
a {
  color: #428bca;
  text-decoration: none;
}

/* line 202, ../scss/_normalize.scss */
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

/* line 206, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 211, ../scss/_normalize.scss */
img {
  vertical-align: middle;
}

/*==========================================================================================
Site Name: Thomas Skarbek-Wazynski
Author: Tom Skarbek-Wazynski

Stylesheet: Main

==========================================================================================*/
/* ==========================================================================
	Variables
	========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 31, ../scss/_main.scss */
html,
button,
input,
select,
textarea {
  color: black;
}

/* line 35, ../scss/_main.scss */
body {
  font-size: 16px;
  line-height: 1.4;
  font-family: "proxima-nova-alt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white;
  padding: 0;
  margin: 0;
  color: black;
}

/* line 45, ../scss/_main.scss */
::-moz-selection {
  background: #fd7d1f;
  text-shadow: none;
}

/* line 50, ../scss/_main.scss */
::selection {
  background: #fd7d1f;
  text-shadow: none;
}

/* line 55, ../scss/_main.scss */
img {
  vertical-align: middle;
}

/* line 59, ../scss/_main.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 63, ../scss/_main.scss */
a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #b3b3b3;
}

/* line 69, ../scss/_main.scss */
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 82, ../scss/_main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
	Container
	========================================================================== */
/* ==========================================================================
	Typography
	========================================================================== */
/* line 103, ../scss/_main.scss */
h2 {
  font-size: 0.75em;
  text-transform: uppercase;
  margin: 1.5em 0 .25em 0;
}

/* line 108, ../scss/_main.scss */
p {
  font-size: 0.75em;
  margin-bottom: 1.333em;
}

/* line 112, ../scss/_main.scss */
span.amp {
  font-family: "fanwood", "garamond-premier-pro-display", Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}

/* line 117, ../scss/_main.scss */
.line {
  display: block;
  height: 4px;
  width: 20%;
  background: #b3b3b3;
}

/* ==========================================================================
   Mobile Menu
   ========================================================================== */
/* line 130, ../scss/_main.scss */
.nav-collapse .menu-btn {
  padding: 1em;
  display: block;
  float: right;
  overflow: hidden;
}
/* line 136, ../scss/_main.scss */
.nav-collapse .menu-btn span {
  width: 30px;
  height: 5px;
  background: black;
  margin-bottom: 5px;
  display: block;
}
/* line 145, ../scss/_main.scss */
.nav-collapse ul {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 151, ../scss/_main.scss */
.nav-collapse ul li {
  padding: .5em 1em;
  background: black;
  border-bottom: 1px solid white;
}
/* line 156, ../scss/_main.scss */
.nav-collapse ul li a {
  color: white;
}

/* ==========================================================================
   Header
   ========================================================================== */
/* line 170, ../scss/_main.scss */
.header .intro {
  margin: 1em;
}
/* line 173, ../scss/_main.scss */
.header .intro h1 {
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1;
  clear: both;
  margin: 0;
  font-family: "din-condensed-web", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 180, ../scss/_main.scss */
.header .intro h1 span {
  display: block;
}
/* line 184, ../scss/_main.scss */
.header .intro .byline {
  font-size: 0.75em;
  text-transform: uppercase;
}

/* ==========================================================================
   Main
   ========================================================================== */
/* line 195, ../scss/_main.scss */
.main {
  margin: 1em;
  /* ==========================================================================
     Projects
     ========================================================================== */
}
/* line 199, ../scss/_main.scss */
.main .about {
  border-top: 1px solid #b3b3b3;
}
/* line 204, ../scss/_main.scss */
.main .about .intro {
  margin-top: 0.66666em;
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 0.66666em;
}
/* line 209, ../scss/_main.scss */
.main .about .intro span.amp {
  font-size: 0.875em;
}
/* line 219, ../scss/_main.scss */
.main .projects {
  margin-top: 2em;
  list-style: none;
  overflow: hidden;
}
/* line 224, ../scss/_main.scss */
.main .projects .project {
  width: 48.5%;
  float: left;
  margin: 0 1.5% 3% 0;
}
/* line 229, ../scss/_main.scss */
.main .projects .project:nth-child(2n+2) {
  margin: 0 0 3% 1.5%;
}
/* line 233, ../scss/_main.scss */
.main .projects .project img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}
/* line 238, ../scss/_main.scss */
.main .projects .project .title {
  display: block;
  margin: .666666667em 0;
  font-size: 0.75em;
  font-weight: bold;
}
/* line 246, ../scss/_main.scss */
.main .projects .project:hover img {
  opacity: 1;
}

/* ==========================================================================
   Project
   ========================================================================== */
/* line 262, ../scss/_main.scss */
.project-page .project {
  margin-bottom: 2em;
}
/* line 267, ../scss/_main.scss */
.project-page .project header h1 {
  font-weight: 300;
  font-size: 1.5em;
}
/* line 279, ../scss/_main.scss */
.project-page .project aside {
  border-top: 1px solid #b3b3b3;
  margin-bottom: 1em;
}
/* line 283, ../scss/_main.scss */
.project-page .project aside .link {
  font-weight: bold;
  font-size: 0.75em;
  text-transform: uppercase;
}
/* line 291, ../scss/_main.scss */
.project-page .project section {
  border-top: 1px solid #b3b3b3;
}
/* line 294, ../scss/_main.scss */
.project-page .project section .line {
  margin-bottom: 1.25em;
}
/* line 297, ../scss/_main.scss */
.project-page .project section img {
  width: 100%;
  background: none;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */
/* line 309, ../scss/_main.scss */
.list {
  border-top: 1px solid #b3b3b3;
  margin: 1em;
}
/* line 314, ../scss/_main.scss */
.list ul {
  font-size: 0.75em;
  padding: 0;
  list-style: none;
  padding-bottom: 1.33333em;
}
/* line 320, ../scss/_main.scss */
.list ul li {
  line-height: 2;
}

/* line 326, ../scss/_main.scss */
.copyright {
  border-top: 1px solid #b3b3b3;
}
/* line 328, ../scss/_main.scss */
.copyright p {
  margin: 1em 0;
  font-size: 0.75em;
}

/* ==========================================================================
   Mobile Footer
   ========================================================================== */
/* line 338, ../scss/_main.scss */
.mobile-footer {
  border-top: 1px solid #b3b3b3;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
	 * Clearfix: contain floats
	 *
	 * For modern browsers
	 * 1. The space content is one way to avoid an Opera bug when the
	 *    `contenteditable` attribute is included anywhere else in the document.
	 *    Otherwise it causes space to appear at the top and bottom of elements
	 *    that receive the `clearfix` class.
	 * 2. The use of `table` rather than `block` is only necessary if using
	 *    `:before` to contain the top-margins of child elements.
	 */
/* line 360, ../scss/_main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 365, ../scss/_main.scss */
.clearfix:after {
  clear: both;
}

/* line 369, ../scss/_main.scss */
.clearfix {
  *zoom: 1;
}

/* line 373, ../scss/_main.scss */
.tablet {
  display: none;
}

/* ==========================================================================
	Tablets Vertical
   ========================================================================== */
@media only screen and (min-width: 768px) {
  /* ==========================================================================
  	Helpers
     ========================================================================== */
  /* line 387, ../scss/_main.scss */
  .mobile-hide {
    display: none;
  }

  /* line 390, ../scss/_main.scss */
  .tablet {
    display: block;
  }

  /* line 394, ../scss/_main.scss */
  .nav-collapse {
    display: none;
  }

  /* ==========================================================================
  	Header and Sidebar
    ========================================================================== */
  /* line 402, ../scss/_main.scss */
  .header {
    padding-top: 100px;
  }

  /* line 405, ../scss/_main.scss */
  .wrapper {
    position: fixed;
    width: 219px;
  }

  /* ==========================================================================
  	Main 
    ========================================================================== */
  /* line 414, ../scss/_main.scss */
  .main {
    width: 62%;
    max-width: 660px;
    margin-left: 219px;
    padding-left: 2em;
    padding-top: 250px;
    /* ==========================================================================
    	About
      ========================================================================== */
  }
  /* line 428, ../scss/_main.scss */
  .main .about .intro {
    margin: 0.5em 0;
    font-size: 2em;
  }

  /* ==========================================================================
  	Project 
    ========================================================================== */
  /* line 443, ../scss/_main.scss */
  .project-page .main {
    padding-top: 184px;
  }
  /* line 447, ../scss/_main.scss */
  .project-page .project {
    margin-bottom: 8em;
  }
  /* line 453, ../scss/_main.scss */
  .project-page .project header h1 .year {
    padding-top: 1em;
    font-size: .5em;
    float: right;
    font-weight: bold;
  }
  /* line 461, ../scss/_main.scss */
  .project-page .project section {
    padding-bottom: 8em;
  }
}
/* ==========================================================================
	Desktop
   ========================================================================== */
@media only screen and (min-width: 959px) {
  /* line 477, ../scss/_main.scss */
  .container {
    margin-left: 5%;
  }
}
@media only screen and (min-width: 1070px) {
  /* line 485, ../scss/_main.scss */
  .container {
    margin-left: 5%;
  }

  /* line 488, ../scss/_main.scss */
  .main {
    margin-left: 260px;
  }
}
/* ==========================================================================
	Retina
   ========================================================================== */
/* ==========================================================================
   Print style
   ========================================================================== */
@media print {
  /* line 511, ../scss/_main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 519, ../scss/_main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 523, ../scss/_main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 527, ../scss/_main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 537, ../scss/_main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 542, ../scss/_main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 547, ../scss/_main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 552, ../scss/_main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 556, ../scss/_main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 566, ../scss/_main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 572, ../scss/_main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
