/*==========================================================================================
Site Name: Thomas Skarbek-Wazynski
Author: Tom Skarbek-Wazynski

Stylesheet: Main

==========================================================================================*/
/* ==========================================================================
	Variables
	========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 28, ../scss/the-commission.scss */
html,
button,
input,
select,
textarea {
  color: #0094cb;
}

/* line 32, ../scss/the-commission.scss */
body {
  background: white;
  background: url("/img/projects/the-commission/background.jpg") repeat fixed;
  color: #0094cb;
}

/* line 38, ../scss/the-commission.scss */
::-moz-selection {
  background: #fd7d1f;
  color: white;
}

/* line 43, ../scss/the-commission.scss */
::selection {
  background: #fd7d1f;
  color: white;
}

/* line 48, ../scss/the-commission.scss */
a {
  color: #0094cb;
}

/* line 51, ../scss/the-commission.scss */
a:hover {
  color: #0094cb;
  border-bottom: 1px solid #0094cb;
}

/* ==========================================================================
	Typography
	========================================================================== */
/* line 60, ../scss/the-commission.scss */
.line {
  background: #0094cb;
}

/* ==========================================================================
   Mobile Menu
   ========================================================================== */
/* ==========================================================================
   Header
   ========================================================================== */
/* ==========================================================================
   Main
   ========================================================================== */
/* line 78, ../scss/the-commission.scss */
.main {
  /* ==========================================================================
     Projects
     ========================================================================== */
}
/* line 80, ../scss/the-commission.scss */
.main .about {
  border-top: 1px solid #0094cb;
}

/* ==========================================================================
   Project
   ========================================================================== */
/* line 97, ../scss/the-commission.scss */
.project-page .project {
  margin-bottom: 2em;
}
/* line 101, ../scss/the-commission.scss */
.project-page .project aside {
  border-top: 1px solid #0094cb;
}
/* line 104, ../scss/the-commission.scss */
.project-page .project section {
  border-top: 1px solid #0094cb;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */
/* line 114, ../scss/the-commission.scss */
.list {
  border-top: 1px solid #0094cb;
}

/* line 120, ../scss/the-commission.scss */
.copyright {
  border-top: 1px solid #0094cb;
}

/* ==========================================================================
   Mobile Footer
   ========================================================================== */
/* line 128, ../scss/the-commission.scss */
.mobile-footer {
  border-top: 1px solid #0094cb;
}
